* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

.nav_titulo img {
    height: 2rem;
}

header {
    background-color: black;
}

#principal {
    background-color: black;
    color: #d8d8d8;
}


.card-body {
    background-color: #0dcaf0;
    color: #FFFFFF;
}

.card img {
    height: 10rem;
    object-fit: cover;

}

.div-iconos-quienesSomos {
    padding: 0;
}

.fa-iconos {
    font-size: 2rem;
    color: #FFFFFF;
}

#btnEnviar {
    background-color: #0dcaf0;
    color: white;
}

footer {
    color: white;
    font-weight: 400;
    font-family: "Raleway";
    position: absolute;
    width: 100%;
    background-color: #0dcaf0;
}

.iconos_footer {
    font-size: 2rem;
}